@charset "utf-8";
/* CSS Document */
/* Version: 1.2 */
body {
	font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    font-family: "Roboto", sans-serif;
    color: #505050;
	word-break: keep-all;
}
* {
    transition: all 300ms ease-in-out;
}
.seccion {
	min-height:540px;
}
.subseccion {
	min-height:540px;
	padding: 0 30px 20px 30px;
}
.navbar {
	min-height:80px;
	margin-bottom:0px;
	z-index:1;
	border-radius:0px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1em;
	font-weight:400;
}
.navbar-default .navbar-nav > li > a {
	color:#3A3A3A;
	padding: 20px 15px;
}
.navbar-brand {
	height:80px;
	padding:0 20px;
}
.navbar .container-fluid {
	max-width:1070px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #009ddc
}
.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  bottom: -10px;
  left:0;
  width: 0;
  height: 1px;
  background-color: #009ddc;
  content: "";
  transition:all 300ms ease-in-out;;
      -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-direction: alternate;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #009ddc;
}
.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.carousel-fade .carousel-control {
    background-image: none;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
h2 {
	font-weight: 300;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
	text-align:center;
}
h1 {
    font-size: 29px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.103;
    text-align: center;
    font-weight: 500;
	padding-bottom:35px;
	padding-top:35px;
}
header h1 {
	font-weight: 700;
    font-size: 3.5em;
    padding-top: 50px;
    padding-bottom: 10px;
}
.responsive_image {
	width:100%;
	height:auto;
}
.icono {
	width: 70px;
	margin:0 auto;
	clear:both;
	padding-top:70px;
}
.actividades {
	background-image: url(../images/fondo-kinus.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	padding: 0 0 70px 0;
}
.actividades h1 {
	color:#FFFFFF;
}
.actividades .subseccion h1 {
	color:#009ddc;
}
.actividades .subseccion h1 {
	text-align:left;
	padding:0px;
}
.documentos {
	padding-bottom: 35px;
}
.documentos .icono {
	padding-top: 0px;
	margin-bottom:35px;
}
.documentos a {
	color: #505050;
}
.actividades .boton a {
	color: #FFFFFF;
}
.actividades .boton a:hover {
	color: #009ddc;
}
.boton {
    padding-top: 8px;
    border-radius: 2px;
    text-decoration: none !important;
    background-color: rgba(230, 230, 230, 0.5);
    color: #333333;
    margin-top: 25px;
}
.boton:hover {
    background-color: rgba(230, 230, 230, 1);
}
.boton p a:hover {
    text-decoration:none;
}
.btn, .btn:hover, .btn:focus {
	color: #009ddc;
}
.borde_evento {
    border-top: 1px solid #fff;
    width: 40px;
    margin-bottom: 15px;
	margin-top: 20px;
}
.queremos {
	background-image: url(../images/fondo_queremos.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	color:#FFFFFF;
	padding: 70px 0;
	font-size: 1.3em;
    line-height: 1.5em;
}
.fondo_movamonos {
	background-image: url(../images/fondo-movamonos.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.atid {
	background-image:url(../images/fondo-atid.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
}
.que-hemos-hecho {
	background-image: url(../images/fondo-que-hemos-hecho.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
}
.kinus {
	background-image:url(../images/fondo-kinus.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
}
.vaad {
	background-image:url(../images/fono-vaad-hajinuj.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
}
.sin-fondo h1 {
	color: #009ddc;
	word-break:  break-word;
	font-size:2.5em;
}
.sin-fondo header hr {
	border-top: 1px solid  #009ddc;
}
.fondo_negro {
	background-color: rgba(0, 0, 0, 0.64);
	color:#FFFFFF;
}
.fondo_blanco64 {
	background-color: rgba(255, 255, 255, 0.64);
}
.fondo_blanco {
	background-color: #FFFFFF;
	color:#505050;
}
.fondo_celeste {
	background-color: #009ddc;
	color:#FFFFFF;
}
.texto-blanco {
	color:#FFFFFF;
}
footer {
	padding: 35px 0;
	font-size: 1.15em;
	font-weight: 400;
}
.col-md-2 img {
	max-width:100%;
}
.logo-vaad img {
	width:100%;
	max-width:150px;
}
/*  Input Reset */
input[type="text"], input[type="email"], input[type="tel"], textarea{
	background-color: transparent !important;
	border: solid 1px #FFFFFF;
	margin:5px 0;
	color:#2f2f2f;
	font-family: "Montserrat", sans-serif;
	font-size: 0.8em;
	padding:3px 0 3px 15px;
	width: 100%;
}
button[type="submit"] {
	display: block;
    padding: 12px 35px;
    border: none;
	border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-color: #000;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    float: right;
	margin-top: 5px;
}
input[type=submit]:hover, input[type=submit]:focus {
    background-color: #FFFFFF;
    color: #C72D45;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#2f2f2f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#2f2f2f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#2f2f2f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#2f2f2f;
}
.modal-body {
    padding: 0 15px;
}
.modal-content {
    background-color: rgba(255, 255, 255, 1);
	color: #505050;
}
.modal-footer {
    border-top: none;
}
.modal-content p {
	margin: 5px 0;
}
.modal input[type="text"], .modal input[type="email"], .modal input[type="tel"], .modal textarea {
    background-color: transparent !important;
    border: solid 1px #505050;
    margin: 0 0 10px 0;
    color: #2f2f2f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 0;
    width: 100%;
}
.modal-dialog {
    width: 400px !important;
    margin: 30px auto;
}
.carousel-caption {
    top: 350px;
}
.carousel-caption h3, .carousel-caption h4 {
	font-weight:300;
}
.carousel-caption h3 {
    font-weight:500;
}
img.logo_movamonos {
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    left: 20%;
    right: 20%;
    top: 200px;
}

/* JQuery UI Reset */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none !important;
    background: transparent !important;
    font-weight: normal !important;
    color: #505050 !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #505050 !important;
    text-decoration: none;
}
.ui-state-active .ui-icon,
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon,
.ui-state-default .ui-icon {
        background-image: url("../JQueryAssets/images/ui-icons_228ef1_256x240.png") !important;
}
.ui-widget-content {
    border: none !important;
    background: #fff !important;
    color: #505050 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: transparent !important;
    font-weight: normal;
    color: #505050 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: transparent !important;
    font-weight: normal;
    color: #505050 !important;
}
.ui-widget-header {
    border: none !important;
    background: transparent !important;
    color: #505050 !important;
}
.ui-widget {
    font-family: inherit !important;
    font-size: inherit !important;
}
.ui-tabs-vertical .ui-tabs-panel {
    width: 75% !important;
}
.ui-tabs-vertical .ui-tabs-nav {
    width: 25% !important;
}
.ui-tabs-vertical {
    width: 100% !important;
}
.ui-state-hover {
	color: #009ddc;
}
select {
    background-color: transparent !Important;
    border: solid 1px #fff;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
    font-family: "Montserrat";
    color: #000;
	font-size: 0.8em;
}
.ui-tabs h3 {
	margin-top: 0px;
}
.ui-tabs-vertical .ui-tabs-panel {
    padding:0.5em 1em 1em !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	color: #009ddc !important;
}

@media (max-width: 414px) {
img.logo_movamonos {
    top: 100px !important;
}
.carousel-caption {
    top: 50px !important;
}
.carousel-caption h3{
	font-size: 1.2em;
}
.carousel-caption h4{
	font-size: 1em;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: none !important;
    height: 300px !important;
	opacity: 0.5;
}
img.logo_movamonos {
    top: 200px;
    width: 50% !important;

}
.carousel-fade .carousel-inner .item {
     background: #000;
}

}
@media (max-width:768px){
	ul, ol {
    padding-left: 0;
}
	.atid, .que-hemos-hecho, .kinus, .vaad {
		background-size: initial;
	}
	.contenido {
	padding:2em 1em;
	border-radius: 0.5em;
}
.boton {
    padding: 8px 0 4px 0;
}
.carousel-caption {
    top: 150px;
    right: 10% !important;
    left: 10% !important;
    padding-bottom: 30px;
}
img.logo_movamonos {
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    left: 20%;
    right: 20%;
    top: 200px;
    width: 25%;
    height: auto;
}
.ui-tabs-vertical .ui-tabs-nav {
    width: 100% !important;
	float: none !important;
}
.ui-tabs-vertical .ui-tabs-panel {
    width: 100% !important;
    float: none !important;
}
}

@media (min-width:768px){
	.contenido {
	padding:1em 3em 3em;
	border-radius: 0.5em;
}
.carousel-caption {
    right: 30%;
    left: 30%;
    padding-bottom: 30px;
}
}
