@charset "utf-8";
/* CSS Document */
/* Version: 1.3 */
body {
	font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    font-family: "Roboto", sans-serif;
    color: #505050;
	word-break: keep-all;
}
* {
    transition: all 300ms ease-in-out;
}
a {
	color: #6B15A1;
}
a:hover, a:focus {
	color: #B966ED;
}
.seccion {
	min-height:520px;
}
.subseccion {
	min-height:450px;
	padding: 35px;
}
.navbar {
	min-height:80px;
	margin-bottom:0px;
	z-index:1;
	border-radius:0px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1em;
	font-weight:400;
}
.navbar-default .navbar-nav > li > a {
	color:#3A3A3A;
	padding: 20px 15px;
}
.navbar-brand {
	height:80px;
	padding:0 20px;
}
.navbar .container-fluid {
	max-width:1070px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}



.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #6B15A1
}
.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  bottom: -10px;
  left:0;
  width: 0;
  height: 1px;
  background-color: #6B15A1;
  content: "";
  transition:all 300ms ease-in-out;;
      -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-direction: alternate;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #6B15A1;
}
.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.carousel-fade .carousel-control {
    background-image: none;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
h2 {
	font-weight: 300;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
	text-align:center;
}
h1 {
    font-size: 29px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.103;
    text-align: center;
    font-weight: 500;
	padding-bottom:35px;
	padding-top:35px;
}
header h1 {
	font-weight: 700;
    font-size: 3.5em;
    padding-top: 50px;
    padding-bottom: 10px;
}
.responsive_image {
	width:100%;
	height:auto;
}
.icono {
	width: 70px;
	margin:0 auto;
	clear:both;
	padding-top:70px;
	font-size: 3em;
}
.seccion_3 {
	background-image:url("http://placehold.it/1920x1080/72757d/fff?text=seccion_3");
	background:url("http://placehold.it/1920x1080/72757d/fff?text=seccion_3");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	padding: 0 0 70px 0;
}
.seccion_3 h1 {
	color:#FFFFFF;
}
.seccion_3 .subseccion h1 {
	color:#A50FB8;
}
.seccion_3 .subseccion h1 {
	text-align:left;
	padding:0px;
}
.borde_evento {
    border-top: 1px solid #fff;
    width: 40px;
    margin-bottom: 15px;
	margin-top: 35px;
}
.seccion_5 {
	background-image:url("http://placehold.it/1920x450/490FB8/000?text=seccion_5");
	background:url("http://placehold.it/1920x450/490FB8/000?text=seccion_5");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	color:#FFFFFF;
	padding: 70px 0;
	font-size: 1.3em;
    line-height: 1.5em;
}
.seccion_2_a {
	background-image:url("http://placehold.it/960x540/490E6E/fff?text=seccion_2_a");
	background:url("http://placehold.it/960x540/490E6E/fff?text=seccion_2_a");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.seccion_6 {
	padding-bottom: 70px;
}
.imagen_fondo {
	background-image:url("http://placehold.it/1920x920/350354/747669?text=imagen_fondo");
	background:url("http://placehold.it/1920x600/350354/747669?text=imagen_fondo");
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
}
.sin_fondo h1 {
	color: #6B15A1;
}
.sin_fondo header hr {
	border-top: 1px solid  #6B15A1;
}
.fondo_negro {
	background-color: rgba(0, 0, 0, 0.64);
	color:#FFFFFF;
}
.fondo_blanco64 {
	background-color: rgba(255, 255, 255, 0.64);
}
.fondo_blanco {
	background-color: #FFFFFF;
	color:#505050;
}
.fondo_morado {
	background-color: #6B15A1;
	color: #FFFFFF;
}
.texto-blanco {
	color:#FFFFFF;
}
footer {
	padding: 35px 0;
	font-size: 1.15em;
	font-weight: 400;
}
.footer {
	background-color: #6B15A1;
	color:#FFFFFF;
}
/*  Input Reset */
input[type="text"], input[type="email"], input[type="tel"], textarea{
	background-color: transparent !important;
	border: solid 1px #FFFFFF;
	margin:5px 0;
	color:#2f2f2f;
	font-family: "Montserrat", sans-serif;
	padding:5px 0 5px 15px;;
}
input[type="submit"] {
	display: block;
    padding: 12px 35px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #000;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    float: right;
}
input[type=submit]:hover, input[type=submit]:focus {
    background-color: #FFFFFF;
    color: #C72D45;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#2f2f2f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#2f2f2f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#2f2f2f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#2f2f2f;
}

/* JQuery UI Reset */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none !important;
    background: transparent !important;
    font-weight: normal !important;
    color: #505050 !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #505050 !important;
    text-decoration: none;
}
.ui-state-active .ui-icon,
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon,
.ui-state-default .ui-icon {
        background-image: url("../JQueryAssets/images/ui-icons_228ef1_256x240.png") !important;
}
.ui-widget-content {
    border: none !important;
    background: #fff;
    color: #505050 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: transparent !important;
    font-weight: normal;
    color: #505050 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: transparent !important;
    font-weight: normal;
    color: #505050 !important;
}
@media (max-width:767px){
	.atid, .que-hemos-hecho, .kinus, .vaad {
		background-size: initial;
	}
	.contenido {
	padding:2em 1em;
	border-radius: 0.5em;
}
}

@media (min-width:768px){
	.contenido {
	padding:3em 3em;
	border-radius: 0.5em;
}
}
